body, .form-control, .input-group-text {
  font-size: 0.9rem;
}

.header-logo {
  height: 30px;
}

@media only screen and (max-width: 576px) {
  .header-logo {
    height: 20px;
  }
}

.copyright-logo {
  height: 1rem;
}

button .spinner-border {
  width: 1.5rem;
  height: 1.5rem;
}

a.disabled {
  pointer-events: none;
}
